<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

	<title>Brand Directory</title>
</head>

<body>

<div class="container">

	<h3>Brand Directory</h3>
	<hr>
	
	<a th:href="@{/brands/showFormForAdd}"
		class="btn btn-primary btn-sm mb-3">
		Add Brand
	</a>
	
	<table class="table table-bordered table-striped">
		<thead class="table-dark">
			<tr>
				<th>Name</th>
				<th>Action</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempBrand : ${brands}">
			
				<td th:text="${tempBrand.name}" />	
				
				<td>
					<a th:href="@{/brands/showFormForUpdate(brandId=${tempBrand.id})}"
					class="btn btn-info btn-sm">
						Update
					</a>
				</td>
			</tr>
		</tbody>		
	</table>
	
	<hr>
		<p>
			User: <span sec:authentication="principal.username"></span>
			<br><br>
			Role(s): <span sec:authentication="principal.authorities"></span>
		</p>
	<hr>
	
	<form action="#" th:action="@{/logout}" method="POST">
		
		<input type="submit" value="Logout" class="btn btn-danger btn-sm mb-3" />

	</form>
	
	<form action="#" th:action="@{/}" method="POST">
		<div style="margin-top: 10px;" class="form-group">
        	<div class="col-sm-6 controls"> 
            	<a th:href="@{/}" class="btn btn-primary" >Back to the Homepage</a>
            </div>
        </div>
	
</div>
	
</body>
</html>



